@keyframes rightMenu {

  to {
    opacity: 1;
    right: -2rem;
  }
}

.right-vertical-menu {
  animation-name: rightMenu;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
  font-size: .9rem;
  right: -5rem;
  margin: 0;
  position: absolute;
  transform: rotate(90deg);
  top: 47%;
  z-index: 2;

  ul {
    list-style: none;
    padding: 0;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
