@keyframes fadeup {

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes spinBefore {
  10% {
    // border: 2px solid transparent; // Makes border thinner at the edges? I forgot what I was doing
    // border-top-color: rgba(255, 255, 255, 0); // Show borders
    // border-right-color: rgba( 255, 255, 255, 0);
    // border-bottom-color: rgba(255, 255, 255, 0);
    border-top-color: #fff; // Show borders
    border-right-color: rgba( 255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
  }

  50% {
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0);
  }

  100% {
    border-top-color: #fff; // Show borders
    border-right-color: #fff;
    border-bottom-color: #fff;
  }
}

@keyframes spinAfter {
  from {
    border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing
  }

  to {
    border-top: 2px solid #fff; // Shows border
    border-left-width: 2px; // Solid edges, invisible borders
    border-right-width: 2px; // Solid edges, invisible borders
    transform: rotate(270deg); // Rotate around circle
  }
}

@keyframes spinnerBackground {
  from {
    box-shadow: inset 0px 0 0 0 #fff;
  }

  to {
    box-shadow: inset 160px 0 0 0 #fff;
  }
}

@keyframes spinnerIcon {
  from {
    top: 4rem;
  }

  to {
    top: 1.1rem;
  }
}

.top-nav {
  font-size: 1.1rem;
  padding: 3rem;
  position: absolute;
  text-align: center;
  width: 94vw;
  z-index: 2;

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    display: grid;
    grid-template-columns: 80px 80px 80px 78px auto 100px 80px 80px;
    grid-template-rows: auto;
    list-style: none;
    padding: 0;
  }
}

.top-nav-logo {
  height: auto;
  margin-top: -1rem;
  width: 170px;
}

.top-nav-date {
  font-family: 'Iceland', sans-serif;
  font-size: 2rem;
  text-align: left;
}

.top-nav-icons {
  // background-color: #fff;
  border-radius: 50%;
  // padding: 2rem;

  // margin: 1em;

  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
  // font-size: inherit;
  font-weight: 700;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  // vertical-align: middle;
  // overflow: hidden;
  top: -3.7rem;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    height: 60px;
    width: 60px;
  }
}

.spin {
  // overflow: hidden;
  // width: 15em;
  // height: 15em;
  padding: 0;

  &::before,
  &::after {
    top: -2px;
    left: -2px;
  }

  &::before {
    border: 2px solid transparent; // We're animating border-color again
    animation-name: spinBefore;
    animation-delay: 2s;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  &::after {
    animation-name: spinAfter;
    animation-delay: 2s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing
  }

  &:hover::before {
    // border-top-color: #fff; // Show borders
    // border-right-color: #fff;
    // border-bottom-color: #fff;
    //
    // transition:
    //   border-top-color 0.15s linear, // Stagger border appearances
    //   border-right-color 0.15s linear 0.10s,
    //   border-bottom-color 0.15s linear 0.20s;
  }

  &:hover::after {
    // border-top: 2px solid #fff; // Shows border
    // border-left-width: 2px; // Solid edges, invisible borders
    // border-right-width: 2px; // Solid edges, invisible borders
    // transform: rotate(270deg); // Rotate around circle
    // transition:
    //   transform 0.4s linear 0s,
    //   border-left-width 0s linear 0.35s; // Solid edge post-rotation
  }
}

.circle {
  border-radius: 100%;
  box-shadow: none;
  padding: 1rem;

  &::before,
  &::after {
    border-radius: 50%;
  }
}

.spinnerBackground {
  // display: block;
  height: 60px;
  width: 60px;
  color: #ee3769;
  // position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -200%);
  cursor: pointer;
  // border: 1px solid #ee3769;
  text-align: center;
  line-height: 50px;
  // overflow: hidden;
  border-radius: 50%;

  &::before {
    // background-color: #fff;
    animation-name: spinnerBackground;
    animation-duration: 1.2s;
    animation-delay: 2.8s;
    // animation-timing-function: ;
    animation-fill-mode: forwards;

    // position: absolute;
    // top: 0;
    // right: 0;
    bottom: .1rem;
    margin-top: -.9rem;
    margin-left: 1.5rem;
    content: '';
    border-radius: 50%;
    display: block;
    width: 60px;
    height: 60px;
    left: 1.85rem;
    // transition: box-shadow 0.6s ease-out;
    // transition: height 0.6s ease-out, width 0.6s ease-out;
    top: 2rem;
    z-index: 1;

  }
}

.spinnerIcon {
  color: #000 !important;
  // margin-bottom: -.3rem;
  position: absolute;
  top: 4rem;
  left: 1.2rem;

  animation-name: spinnerIcon;
  animation-duration: .4s;
  // animation-delay: 3.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.fadeup {
  animation-name: fadeup;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  bottom: -2rem;
}
